.dice{
    display: flex;
    justify-content: space-evenly;
    
    width: 100px;
    height: 100px;
    
    margin: 20px;

    background-color: lightgray;
    
    border: 2px red solid;
    border-radius: 25px;
}

.dice > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dot{    
    width: 10px;
    height: 10px;

    align-self: center;
    
    background-color: red;
    
    border: 1px red solid;
    border-radius: 10px;
}
